{% extends 'base.html' %}
{% block title %}Список городов{% endblock %}
{% block content %}
    <h1>Список городов</h1>
<div class="row">
    <div class="col-md-8 mx-auto">
        <table class="table table-striped-columns">
        {% for object in objects_list %}
            <tr>
                <td>
                    <a href="{% url 'cities:detail' pk=object.pk%}">{{object.name}}</a> <!Переход по ссылкам-->
                </td>
                <td>
                    <a href="{% url 'cities:update' pk=object.pk%}">
                        <button type="submit" class="btn btn-primary">Редактировать</button>
                    </a> <!Переход по ссылкам-->
                </td>
                <td>
                    <a href="{% url 'cities:delete' pk=object.pk%}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4"><form action="" method="post"> {% csrf_token %}
        {{ form.as_p }}  <! Добавляем форму из файла forms -->
  <input type="submit" value="Submit">
</form></div>
</div>
{% endblock %}
